.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.graph-container {
  width: 775px;
  height: 244px;
  margin: 10% auto;
}

/* Bar Chart Styles */

.xAxis path,
.xAxis line {
  display: none;
}

.yAxis path {
  display: none;
}

.yAxis line {
  stroke-opacity: 0.1;
  transform: translate(7px, 0px);
}

text {
  font-size: 14px;
  font-weight: 500;
}
